<h1 id="title" align="center">{{title}}</h1>
<div style="overflow: auto;">
    <div style="min-width: 950px;" class="container" *ngIf="!loading">
        <div id="bar_graph"></div>
    </div>
</div>
<div *ngIf="loading">
  <h3 align="center">Please wait the data is loading...</h3>
</div>

<style>
    text {
      font: 10px sans-serif;
    }

    rect.background {
      fill: white;
    }

    .axis {
      shape-rendering: crispEdges;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
    }
</style>