<h1 id="title" align="center">{{title}}</h1>
<div style="overflow: auto;">
    <div style="min-width: 950px;" class="container" *ngIf="!loading">
        <h6 style="font-size: 20px; text-align: center">The first level of the visualization shows the enrollment of selected universities. You can click on the enrollment bar to see the ethnic breakdown of the students. Click on the whitespace to return to the comparision of university enrollment.</h6>
        <h6 style="font-size: 20px; text-align: center">Head to <a href ="http://wholesomeeducation.me/#/">Wholesome Education</a> for more information!</h6>
        <div id="bar_graph"></div>
    </div>
</div>
<div *ngIf="loading">
  <h3 align="center">Please wait the data is loading...</h3>
</div>

<style>
svg {
  font-size: 14px;
}

rect.background {
  fill: none;
  pointer-events: all;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}
</style>